body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.container {
    width: 1200px;
    margin: auto;
}
.wrapper > * {
    padding: 20px;
}
.wrapper > * > h1 {
    text-align: center;
    font-weight: 300;
    color: #222222;
    margin-bottom: 50px;
}
header {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar a {
    font-weight: 400;
    color: #fff;
}
.navbar a:hover, .navbar li.active a {
    text-decoration: underline;
}
#products .item {
    padding: 30px 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
#products .item:last-child {
    margin-bottom: 0;
}